header {
    background-color: #424E61;
    color: white;
}

.cabecalho-imagem{
    width: 20%;


}

.escola-imagem{
    width: 25%;
}

.escola-imagem{
    background-image: linear-gradient(#ffffff,#e94e4e);
}