*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;


}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
}

.escola-imagem{
    width: 25%;
}

.escola-imagem{
    background-image: linear-gradient(#ffffff,#40a52b);
    color: white;
    display: flex;
}